@import url('https://fonts.googleapis.com/css?family=Abel');


.container_map {
  max-width: 640px;
  max-height: 640px;
  margin: 0 auto
}

.google_map
{
  width: 100%;
  overflow:hidden;
  display: block;
  position: relative;
  /* Uncle Daves Padded Box */
  background-size: cover;
  height: 0;
  padding-bottom: 100%;
}

.google_map img
{
  width: 640px;
  height: 440px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -320px; /* Half image width */
  margin-top: -320px; /* Half image height */
}


body {
    font-family: 'Abel', sans-serif;
/*	background-color: #fcd3fd;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9191+0,fe9090+55,febbbb+100 */
background: #ff9191; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOTE5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU1JSIgc3RvcC1jb2xvcj0iI2ZlOTA5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWJiYmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #ff9191 0%, #fe9090 55%, #febbbb 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ff9191 0%,#fe9090 55%,#febbbb 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ff9191 0%,#fe9090 55%,#febbbb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9191', endColorstr='#febbbb',GradientType=0 ); /* IE6-8 */
  padding: 1em 5em;
}

